---
layout: page
title: Archive
---

{% for post in site.posts %}
    {% unless post.next %}
        <h2>{{ post.date | date: "%Y" }}</h2>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            <h2>{{ post.date | date: "%Y" }}</h2>
        {% endif %}
    {% endunless %}

    <div class="archive-post__entry">
        <time>{{ post.date | date: "%b %d, %Y" }}</time>
        <h4>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </div>

{% endfor %}
