.highlight {
  margin: 20px 0;
}

.divider {
  background: #ddd;
  background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(#ccc),to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
  background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
  height: 1px;
  margin: 2em 0;
}

article > header {
  .header__title {
    font-size: 1.6em;
    text-align: center;
  }

  .header__time {
    display: flex;
    justify-content: center;
    color: #5e5e5e;
  }
}

.header {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  .header-top {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    font-family: 'Cormorant Upright', serif;
    a {
      text-decoration: none;
      border: none;
    }
  }

  .header__nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .nav__list {
    display: flex;
    max-width: 400px;
    padding: 0;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav__list-item {
    display: flex;
    list-style: none;
  }

  .nav__list-link {
    color: inherit;
    text-decoration: none;
    border: 1px solid transparent;
  }

  .nav__list-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: all .4s cubic-bezier(.175,.885,.32,1.075);
  }

  .nav__list-link:hover::after {
    width: 100%;
  }

  .nav-column__list {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: all ease .3s;
  }

  .nav-column__list.show {
    opacity: 1;
    height: 160px;
  }

  .nav-column__list-item {
    display: flex;
    list-style: none;
  }

  .nav-column__list-link {
    display: flex;
    flex: 1;
    height: 40px;
    padding-left: 5px;
    align-items: center;
    text-decoration: none;
    border-bottom: 0;
  }

  .nav-column__list-link:hover {
    background-color: #f5f5f5;
  }

  .menu-bar {
    display: none;
    border-bottom: 0;
  }
  .ham {
    display: inline-block;
    position: relative;
    width: 23px;
    height: 2px;
    background-color: #242321;
    transition: all ease .3s;
    border-top: 7px solid #FFFFFF;
    border-bottom: 7px solid #FFFFFF;
  }
  .ham::before, .ham::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #242321;
    transition: all ease .3s;
  }
  .ham::before {
    top: -7px;
  }
  .ham::after {
    top: 7px;
  }
  .menu-bar.exit .ham {
     background-color: transparent;
  }
  .menu-bar.exit .ham::before {
    transform: translateY(7px) rotateZ(-45deg);
  }
  .menu-bar.exit .ham::after {
    transform: translateY(-7px) rotateZ(45deg);
  }

  @media(max-width: 500px) {
    .header__nav {
      justify-content: flex-end;
    }
    .nav__list {
      display: none;
    }
    .menu-bar {
      display: flex;
    }
  }

}

.footer {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  > p {
    margin: 0;
    color: #999;
    font-size: 14px;

     > a {
       border-bottom: none;
       color: #069;
     }
  }
}

.home, .post, .page {
  max-width: 600px;
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - 210px);
}

.post, .page {
  min-height: calc(100% - 230px);
}

.tags__container {
  max-width: 600px;
  margin: 30px auto 0 auto;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    border-bottom: none;
  }
  .arrow__disabled {
    color: #ccc;
  }
  .page-num {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.post__entry {
  margin-bottom: 40px;
  h4 {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    border: none;
  }
  > time {
    font-size: 14px;
    color: #5e5e5e;
  }
  p {
    margin-top: 10px;
  }
}

.archive-post__entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  > time {
    min-width: 100px;
    color: #5e5e5e;
  }
  > h4 {
    margin: 15px 0;
  }
  a {
    text-decoration: none;
    border: none;
  }
}

.tag__list {
  .tag__item {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    white-space: nowrap;
    border-bottom: none;
    background-color: #f0f0f0;
    transition: all 500ms ease;
  }
  .tag__item::before {
    content: "#";
    opacity: 0.4;
  }
  .tag__item:hover {
    background-color: #069;
    color: #ffffff;
  }
}

.posts-tagged {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  .tag__title::before {
    content: "#";
    opacity: 0.4;
    margin-right: 4px;
  }
  .post__list {
    margin-top: 30px;
  }
}

.posts-tagged:target {
  margin-top: 20px;
  height: auto;
  opacity: 1;
}
