.highlight {
  margin: 20px 0;
}

.divider {
  background: #ddd;
  background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(#ccc),to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
  background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
  height: 1px;
  margin: 2em 0;
}

article > header {
  .header__title {
    font-size: 1.6em;
    text-align: center;
  }

  .header__time {
    display: flex;
    justify-content: center;
    color: #5e5e5e;
  }
}

.header {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;

  .header__title {
    font-family: 'Cormorant Upright', serif;
    a {
      text-decoration: none;
      border: none;
    }
  }

  .header__nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .nav__list {
    display: flex;
    max-width: 400px;
    padding: 0;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav__list-item {
    display: flex;
    list-style: none;
  }

  .nav__list-link {
    font-family: "PT Serif", serif;
    color: inherit;
    text-decoration: none;
    border: 1px solid transparent;
  }

  .nav__list-link:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: all .4s cubic-bezier(.175,.885,.32,1.075);
  }

  .nav__list-link:hover:after {
    width: 100%;
  }
}

.footer {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  > p {
    margin: 0;
    color: #999;
    font-size: 14px;

     > a {
       border-bottom: none;
       color: #069;
     }
  }
}

.home, .post, .page {
  max-width: 600px;
  margin: 0 auto;
}

.home {
  margin-top: 30px;
  min-height: calc(100% - 250px);
}

.post, .page {
  min-height: calc(100% - 230px);
}

.tags__container {
  max-width: 600px;
  margin: 30px auto 0 auto;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    border-bottom: none;
  }
  .arrow__disabled {
    color: #ccc;
  }
  .page-num {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.post__entry {
  margin-bottom: 40px;
  h4 {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    border: none;
  }
  > time {
    font-size: 14px;
    color: #5e5e5e;
  }
  p {
    margin-top: 10px;
  }
}

.tag__list {
  .tag__item {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    white-space: nowrap;
    border-bottom: none;
    background-color: #f0f0f0;
    transition: all 500ms ease;
  }
  .tag__item:before {
    content: "#";
    opacity: 0.4;
  }
  .tag__item:hover {
    background-color: #069;
    color: #ffffff;
  }
}

.posts-tagged {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  .tag__title:before {
    content: "#";
    opacity: 0.4;
    margin-right: 4px;
  }
  .post__list {
    margin-top: 30px;
  }
}

.posts-tagged:target {
  margin-top: 20px;
  height: auto;
  opacity: 1;
}
